@font-face {
    font-family: 'Georgia';
    src: url('Georgia.eot');
    src: url('Georgia.eot?#iefix') format('embedded-opentype'),
        url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff'),
        url('Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia_1.eot');
    src: url('Georgia_1.eot?#iefix') format('embedded-opentype'),
        url('Georgia_1.woff2') format('woff2'),
        url('Georgia_1.woff') format('woff'),
        url('Georgia_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia-BoldItalic_2.eot');
    src: url('Georgia-BoldItalic_2.eot?#iefix') format('embedded-opentype'),
        url('Georgia-BoldItalic_2.woff2') format('woff2'),
        url('Georgia-BoldItalic_2.woff') format('woff'),
        url('Georgia-BoldItalic_2.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Compressed.eot');
    src: url('Helvetica-Compressed.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Compressed.woff2') format('woff2'),
        url('Helvetica-Compressed.woff') format('woff'),
        url('Helvetica-Compressed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.eot');
    src: url('Helvetica.eot?#iefix') format('embedded-opentype'),
        url('Helvetica.woff2') format('woff2'),
        url('Helvetica.woff') format('woff'),
        url('Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-BoldOblique.eot');
    src: url('Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-BoldOblique.woff2') format('woff2'),
        url('Helvetica-BoldOblique.woff') format('woff'),
        url('Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Bold.eot');
    src: url('Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold.woff') format('woff'),
        url('Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rozha One';
    src: url('RozhaOne-Regular.eot');
    src: url('RozhaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('RozhaOne-Regular.woff2') format('woff2'),
        url('RozhaOne-Regular.woff') format('woff'),
        url('RozhaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Light.eot');
    src: url('Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Light.woff2') format('woff2'),
        url('Helvetica-Light.woff') format('woff'),
        url('Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaRounded-Bold.eot');
    src: url('HelveticaRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaRounded-Bold.woff2') format('woff2'),
        url('HelveticaRounded-Bold.woff') format('woff'),
        url('HelveticaRounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Oblique.eot');
    src: url('Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Oblique.woff2') format('woff2'),
        url('Helvetica-Oblique.woff') format('woff'),
        url('Helvetica-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

